Repository voxpupuli/puppet-windows_firewall, pull requests merged in 2021-03, with the labels that each got.

#113 Fixing display_name to default to the resource title
  manifests/exception.pp
  spec/defines/windows_firewall/exception_spec.rb
Labels: bug

#107 Fix truncated verification
  lib/puppet/provider/windowsfirewall/powershell.rb
Labels: bug

#114 Drop Puppet 5; require Puppet 6.1.0
  metadata.json
Labels: backwards-incompatible

#115 release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
